body {
  background-image: url("static/images/R.jpg");
  background-size: cover; /* Scale the image to cover the entire background */
  background-repeat: no-repeat; /* Prevent the image from repeating */
}

* {
  box-sizing: border-box;
}

nav {

  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 20px;
}

.input-container {
  display: flex;
  align-items: center;
  border: 1px solid black;
  padding: 5px;
  width: 300px;
  height: 50px;
  border-radius: 50px;
  margin: 10px;
  position: relative;
  transition: width 1.5s;
}

.input {
  margin: 10px 50px;
  margin-left: 20px;
  width: 100%;
  color: black;
  border: none;
  background: transparent;
  outline: none;
  transition-delay: 0.5s;
}

.magnifier {
  position: absolute;
  right: 15px;
  width: 25px;
  text-align: center;
  margin: 0 auto;
  cursor: pointer;
  color: black;
}

ul li {
  display: inline;
  margin-left: 40px;
  font-family: sans-serif;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  width: 60%;
  padding: 3rem;
  box-shadow: 10px 10px 40px 5px #e0e0e0;
  margin-top: 5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.content-container h1 {
  font-family: sans-serif;
  font-size: 2rem;
  color: #2c2c2c;
}

.content-container p {
  font-family: sans-serif;
  line-height: 1.4;
  margin-bottom: 2rem;
  color: black;
  width: 26rem;
}

.img {
  transform: translateX(-120px);
  margin-top: 1rem;
  width: 350px;
  height: 350px;
  border-radius: 300px;
  background: url("https://images.unsplash.com/photo-1600289031464-74d374b64991?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1075&q=80");
  background-repeat: no-repeat;
  background-position: center;
  background-size: conver;
}
        #searchInput {
            width: 100%;
            padding: 10px;
            font-size: 16px;
            border: 1px solid black;
            border-radius: 5px;
            margin-bottom: 20px;

            /* Add this style for the dropdown arrow */
.dropdown-arrow {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 6px 6px 0 6px;
    border-color: #000 transparent transparent transparent;
    pointer-events: none;
}
/* Add this style for the dropdown arrow */

        }

.ingredients {
  width: 80%;
  margin: 0 auto;
  margin-top: 5rem;
  padding: 50px;
}

.ingredients span {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
}

.ing {
  padding: 10px 20px;
  border: 2px solid black;
  color: black;
  font-family: sans-serif;
  border-radius: 100px;
}

.main-btn {
  background: transparent;
  border: none;
  border: 2px solid black;
  padding: 10px;
  color: black;
}

li {
  font-size: 20px; /* Adjust the value as needed */
}